.container{
  background-color: lightgray;
}
.head{
  background-color: lightgreen;
  grid-area: head;
  grid-column-start: 1;
  grid-column-end: 3;

}
.menu{
  background-color: blue;
  grid-area: menu;
  grid-column-start: 1;
  grid-column-end: 3;

}
.info{
  background-color: lightblue;
  grid-area: info;
  grid-column-start: 1;
  grid-column-end: 2;

}
.content{
  background-color: green;
  grid-area:content;
  grid-column-start: 2;
  grid-column-end: 3;

}
.botmenu{
  background-color: darkred;
  grid-area:botmenu;
  grid-column-start: 1;
  grid-column-end: 3;

}
.cop{
  background-color: red;
  grid-area:cop;
  grid-column-start: 1;
  grid-column-end: 3;

}
.topmenu a{
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  width:11.11%;
  padding: 0 0;
}
.topmenu a:hover{
  transition: 0.5s;
  background-color: darkblue;

}
.topmenu{
  display: flex;
  padding: 0 5%;
  margin: 0;
}
.topmenu a li{
  list-style-type: none;
  color:white;
  text-align: center;
  padding: 25px 0;
}
.dostavka{
  display: flex;
  align-items: center;
  background-color: red;
  color:white;
  font-family: Arial,sans-serif;
  font-size: 15px;
}
